.menubar {
  font-family: "Playfair Display", serif;
  /* height: 5vh; */
  width: auto;
  box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
}

.navTitle {
  color: darkslategray !important;
}

.navBarProducts:hover,
.navBarCart:hover,
.navBarLogIn:hover,
.navBarLogOut:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: none !important;
}

@media (max-width: 349px) {
  .navbar-toggler {
    margin-top: 25vh;
    margin-left: -5vw;
  }

  .navBarProducts ,
  .navBarCart ,
  .navBarLogIn ,
  .navBarLogOut {
  
    font-size: .5rem;
  }

  .menubar {
    position: absolute !important; 
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .navbar-toggler {
    margin-top: 25vh;
    margin-left: -4vw;
  }

  .navBarProducts ,
  .navBarCart ,
  .navBarLogIn ,
  .navBarLogOut {
  
    font-size: .7rem;
  }

} 
