.jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    background-color: white !important;
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
}

.mastheadImage {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 30%;
}


@media (max-width: 349px) {
    .mastheadImage {
        width: 80%;
        height: relative;
    }

}

@media (min-width: 350px) and (max-width: 520px) {
    .mastheadImage {
        width: 80%;
        height: relative;
    }
}

@media (min-width: 521px) and (max-width: 700px) {
    .mastheadImage {
        width: 60%;
        height: relative;
    }
}

@media (min-width: 701px) and (max-width: 767px) {
    .mastheadImage {
        width: 60%;
        height: relative;
        }
}

@media (min-width: 768px) and (max-width: 900px)  {
    .mastheadImage {
        width: 45%;
        height: relative;
        }
    }

@media (min-width: 901px) and (max-width: 1000px)  {
    .mastheadImage {
        width: 40%;
        height: relative;
        }
    }

@media (min-width: 1001px) {
    .mastheadImage {
        width: 30%;
        height: relative;
        }
    }