.eachProductCard {
  /* height: 400px; */
  margin-bottom: 2vh;
  border: none !important;
  /* box-shadow: 0 3px 6px -6px #999; */
  font-family: "Playfair Display", serif !important;
}

.card {
  overflow: hidden;
}

.zoom2 {
  transition: transform 1s ease;
}

.zoom2:hover {
  transform: scale(1.1);
  position: relative;
  /* top: -10px; */
  cursor: zoom-in;
}

.addToCart {
  padding: 0.2vh 0.3vw 0.2vh 0.3vw !important;
  background-color: transparent !important;
  border: none !important;
}

.addToCart:hover {
  text-decoration: underline !important;
  font-size: 0.9rem;
}

.quantityInputField {
  margin-left: 72%;
  border-radius: 5px !important;
}

.productPageImg {
  width: 38% !important;
}

.productPagePrice {
  font-size: 1.25rem !important;
}

.productPageTitle {
  font-size: 1.5rem !important;
}

@media (max-width: 349px) {

  .eachProductCard {
    max-width: 75vw !important;
  }
  .quantityInputField {
    max-width: 15vw !important;
  }

  .eachProductCard {
    width: 50%;
  }

  .productPageImg {
    width: 100% !important;
  }

  .productPageTitle {
    text-align: center;
  }

  .quantityInputField {
    
    margin-left: 10%;
  }
}

@media (min-width: 350px) and (max-width: 450px) {
  .productPageImg {
    width: 100% !important;
  }

  .quantityInputField {
    
    margin-left: 25%;
  }

  .productPagePrice {
    margin-right: 5vw;
  }
  .eachProductCard {
    max-width: 75vw !important;
  }

} 

@media (min-width: 451px) and (max-width: 600px)  {

  .eachProductCard {
    max-width: 75vw !important;
  }

}

@media (min-width: 601px) and (max-width: 700px)  {
  .eachProductCard {
    max-width: 75vw !important;
  }

  .quantityInputField {
    max-width: 15vw !important;
    margin-left: 60%;
  }

  .productPagePrice {
    margin-right: 5vw;
  }
  .productPageTitle {
    padding: 0 !important;
  }

}

  @media (min-width: 701px) and (max-width: 1265px)  {
    .eachProductCard {
      max-width: 75vw !important;
    }
    
    .quantityInputField {
      max-width: 8vw !important;
      margin-left: 65%;
    }

}

@media (min-width: 1266px) {
  .quantityInputField {
    max-width: 8vw !important;
    margin-left: 83%;
  }

}


