.eachProductCard {
    width: 75%;
    height: 350px;
    float: left;
    margin-bottom: 2vh;
    margin-right: 3%;
    border-color: darkslategrey !important;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.addToCart {
    border-color: darkslategrey !important;
    background-color: white !important;
}

.quantityInputField {
    margin-left: 65%;
}