* {
    color: darkslategrey !important;
}

.eachCard {
    width: 225px;
    height: 400px;
    float: left;
    margin-bottom: 2vh;
    margin-right: 3%;
    color: darkslategrey;
    border-color: #A8AB8C !important;
    box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
    font-family: 'Playfair Display', serif;
}

.cardImg {
    margin: 0 auto;
    max-height: 200px;
    max-width: 150px;
}

.viewItem {
    color: darkslategrey !important;
    border-color: slategrey !important;
    background-color: white !important;
}

.shortDesc {
    font-size: .75rem;
}

.footer {
    /* background-color: #482B20 !important; */
    color: darkslategrey !important;
}

.productTitle {
    border-bottom: 1px solid lightgray;
}