* {
  color: darkslategrey !important;
}

.eachCard {
  min-width: 180px !important;
  height: 425px;
  margin: 1vh 1vw 1vh 1vw;
  color: darkslategrey;
  border-color: #a8ab8c !important;
  box-shadow: 0 2px 5px rgba(182, 182, 182, 0.75);
  font-family: "Playfair Display", serif;
}

.cardImg {
  margin: 0 auto;
  max-height: 200px;
  max-width: 150px;
}

.viewItem {
  color: darkslategrey !important;
  border: 1px solid grey !important;
}

.viewItem:hover {
  text-decoration: underline !important;
  border: none !important;
}

.shortDesc {
  font-size: 0.75rem;
}

.footer {
  /* background-color: #482B20 !important; */
  color: darkslategrey !important;
}

.productTitle {
  border-bottom: 1px solid lightgray;
}

.zoom {
  transition: transform 1s ease;
}

.zoom:hover {
  transform: scale(1.5);
  position: relative;
  cursor: zoom-in;
}

.card {
  overflow: hidden;
}

@media (max-width: 349px) {
  .eachCard {
    margin-left: 5vw !important;
  }

  .eachCard {
    width: 80% !important;
  }

}


@media (min-width: 350px) and (max-width: 450px) {

  .eachCard {
    max-width: 150px !important;

  }
  
}