.eachCartCard {
    margin-bottom: 2vh;
    border: none !important;
    font-family: 'Playfair Display', serif !important;
}

.updateQty {
    border-style: none !important;
}

.deleteFromCart {
    border-style: none !important;
}

.updateQty:hover,
.deleteFromCart:hover {
    text-decoration: underline !important;
    font-size: .9rem;
}

.cartInputGroup {
    width: 26.5vw !important;
    font-size: .9rem !important;
}

.updateQtyInCart {
    border-radius: 5px !important;
}

.cartPageImg {
    width: 10% !important;
}

.cartPagePrice {
    font-size: 1rem !important;
}

.cartPageTitle {
    padding-bottom: 1vh;
    /* padding-left: 3vw; */
    font-size: 1rem !important;
    border-bottom: 1px solid lightgray;
} 


@media (max-width: 349px) {


  }
  

  @media (min-width: 350px) and (max-width: 450px) {

  .cartPageImg {
    width: 100% !important;
}

.cartInputGroup {
    width: 100% !important;
}

.updateQtyInCart {
    max-width: 12vw;
}

.eachCartProductFooter {
    display: flex;
    justify-content: center;
}

.updateQty,
.deleteFromCart {
    justify-self: end;
}

  } 


  @media (min-width: 451px) and (max-width: 600px)  {

    
  }
  
  @media (min-width: 601px) and (max-width: 700px)  {

  
  }
  
    @media (min-width: 701px) and (max-width: 767px)  {

  
  }
  
  @media (min-width: 768px) and (max-width: 1265px) {


  }
  
  @media (min-width: 1266px) and (max-width: 1250px) {

    
  
  }
  
  