.eachCartCard {
    width: 50%;
    height: 350px;
    float: left;
    margin-bottom: 2vh;
    margin-right: 3%;
    border-color: darkslategrey !important;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}


.updateQty {
    border-style: none !important;
    text-decoration: underline;
}

.deleteFromCart {
    border-style: none !important;
    text-decoration: underline;
}