

.carousel {
    height: relative;
    padding-right: 5vw;
    padding-left: 5vw;
    width: 100vw !important;
    font-family: "playfair-display";
}

.carousel-indicators {
    visibility: hidden;
}


@media (max-width: 450px) {
    .carousel-control-prev,
    .carousel-control-next {
        visibility: hidden;
    }

}